.popup__line {
  max-width: 358px;
  opacity: 0.14;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 770px) {
  .popup__line {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    max-width: 238px;
  }
}