.popup__name {
  max-width: 358px;
  margin-left: 32px;
  margin-top: 48px;
  margin-bottom: 13px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  outline-color: blue;
  border: 0;
}

.popup__name::placeholder {
  color: black;
}

.popup__name:-ms-input-placeholder { 
  color: black;
}

.popup__name::-ms-input-placeholder {
  color: black;
}

@media screen and (max-width: 770px) {
  .popup__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    max-width: 238px;
    margin-top: 71px;
    margin-left: 20px;
  }
}