.line {
margin-bottom: 36px;
max-width: 894px;
opacity: 0.14;
border-style: solid;
border-color: white;
border-width: 1px;
margin-left: auto;
margin-right: auto;
position: relative;
}

@media screen and (max-width: 920px) {
  .line {
    max-width: 320px;
    margin-bottom: 40px;
  }
}