.popup__button-text {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

@media screen and (max-width: 770px) {
  .popup__button-text {
    font-size: 14px;
    line-height: 17px;
  }
}